.bg-img-contact {
    background: linear-gradient(rgba(0, 105, 255, 0.5), rgba(0, 105, 255, 0.5)), url('../contact-bg.jpg') 70% no-repeat;
    background-size: cover;
    
}

.bg-img-contact>div {
    padding-bottom: 90px
}

.container-info-contact {
    background-color: white;
    width: 100%;
}